

html {
  /* モダンなWebアプリの推奨スタック */
    font-family: "Inter", "Noto Sans JP", "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
    font-size: 100%;
    width: 90%;
    height: 90%;
    margin: auto;
}

form {
    margin: auto;
}

.kanteki {
    margin: auto;
}

select[name='opponent'] {
    font-size: large;
    border: 2px solid #dddddd;
    background: #eeeeee;
    width: 100%;
    padding: 15px;
    transition: 0.4s;
}

select[name='NumOfPeople'] {
    font-size: large;
    border: 2px solid #dddddd;
    background: #eeeeee;
    width: 25%;
    padding: 15px;
    transition: 0.4s;
}

.hit {
    display: flex;
}

select[name='lowHit'] {
    font-size: large;
    border: 2px solid #dddddd;
    background: #eeeeee;
    width: auto;
    padding: 15px;
    transition: 0.4s;
}

select[name='highHit'] {
    font-size: large;
    border: 2px solid #dddddd;
    background: #eeeeee;
    width: auto;
    padding: 15px;
    transition: 0.4s;
}

.start-button {
    width: 100%;
    text-align: center;
    color: #eeeeee;
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(56, 56, 56);
    border: none;
    border-radius: 15px;
    font-size: 1.25em;
}

/* main {
    margin-left: 10%;
} */

input[type='checkbox'] {
    transform: scale(2.0);
}

/* .switch {
    display: flex;
    align-items: center;
} */

p {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}

p[name='tekichuu-p'] {
    margin: auto 0px;
} 

.lowHit {
    margin: auto;
}

.highHit {
    margin: auto;
}

/* .switch-button {
    width: fit-content;
    position: relative;
    margin-left: 0;
    margin-right: auto;
} */

/* input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
} */

/* input:checked ~ .circle {
    transform: translateX(100%);
    background-color: rgb(13, 169, 222);
} */

/* input:checked ~ .base {
    background-color: rgb(219, 234, 254);
    transform: 0.5s;
} */

/* .circle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: white;
    transition: 0.5s;
} */

/* .base {
    width: 56px;
    border-radius: 16px;
    height: 32px;
    background-color: #ddd;
} */

.hit-table {
    margin: auto;
    border-collapse: collapse;
    border: solid black 1px;
    width: 90%;
    max-width: 360px;
    height: auto;
}

.ite-table {
    margin: auto;
    border-collapse: collapse;
    border: solid black 1px;
    border-top: none;
    width: 90%;
    max-width: 360px;
    height: auto;
}

.cell {
    border: solid 1px;
    height: 60px;
    text-align: center;
    padding: 0;
    font-size: 2em;
    opacity: 1;
}

.ite {
    text-align: center;
    font-size: 1.5em;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .opponent {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
} */

/* .result {
    text-align: center;
    width: 100%;
    margin-top: 0;
} */

.return {
    margin-top: 50%;
    font-size: 1.5em;
}

.tRtK {
    display: flex;
    width: 80%;
    margin: auto;
}

.totalRes {
    opacity: 0;
    width: 50%;
    margin: auto;
}

.toKyousya {
    opacity: 0;
    width: 30%;
    margin: auto;
}

@media screen and (min-width: 1000px) {
	/* 481px以上に適用されるCSS（タブレット用） */
    body {
        margin: auto;
        font-size: 150%;
    }

    form {
        margin: auto;
    }

    select {
        font-size: large;
        border: 2px solid #dddddd;
        background: #eeeeee;
        width: 100%;
        padding: 15px;
        transition: 0.4s;
    }

    p[name='tekichuu-p'] {
        margin: auto 0px;
    } 

    .lowHit {
        margin: auto;
    }

    .highHit {
        margin: auto;
    }

    .start-button {
        width: 100%;
        text-align: center;
        color: #eeeeee;
        margin-top: 30px;
        padding: 15px;
        background-color: rgb(56, 56, 56);
        border: none;
        border-radius: 15px;
    }

    /* main {
        margin-left: 10%;
    } */

    /* .switch {
        display: flex;
        align-items: center;
    } */

    p {
        width: fit-content;
        margin-left: auto;
        margin-right: 0;
    }

    /* .switch-button {
        width: fit-content;
        position: relative;
        margin-left: 0;
        margin-right: auto;
    }

    input[type='checkbox'] {
        position: absolute;
        width: 0;
        height: 0;
    }

    input:checked ~ .circle {
        transform: translateX(100%);
        background-color: rgb(13, 169, 222);
    }

    input:checked ~ .base {
        background-color: rgb(219, 234, 254);
        transform: 0.5s;
    }

    .circle {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: white;
        transition: 0.5s;
    }

    .base {
        width: 56px;
        border-radius: 16px;
        height: 32px;
        background-color: #ddd;
    } */

    .hit-table {
        margin: auto;
        border-collapse: collapse;
        border: solid black 3px;
        /* width: 90%; */
        max-width: 1000px;
        height: auto;
    }

    .ite-table {
        margin: auto;
        border-collapse: collapse;
        border: solid black 3px;
        border-top: none;
        width: 90%;
        max-width: 1000px;
        height: auto;
}

    .cell {
        border: solid 3px;
        height: 140px;
        text-align: center;
        vertical-align: middle;
        padding: 0px;
        font-size: 4em;
        opacity: 1;
    }

    .ite {
        text-align: center;
        font-size: 2em;
    }

    h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 2em;
    }

    /* .opponent {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 2em;
    } */

    .return {
        margin-top: 60%;
        font-size: 2em;
    }
}