.grid {
    border-collapse: collapse;
}
.grid td {
    border: 1px solid #333;
    width: 75px;
    height: 75px;
    text-align: center;
    font-size: 18px;
}

/* スマホ用（画面幅 576px 以下） */
@media (max-width: 576px) {
    .mobile-big-select {
        font-size: 2.5rem;
        height: 90px;
    }

    .mobile-big-btn {
        font-size: 2rem;
        padding: 15px;
    }

    .mobile-big-label {
        font-size: 1.8rem;
        }
}

.hit-table {
    margin: 0 auto;
}

.hit-tr {
    border-collapse: collapse;
    margin: 0 auto;
}

.hit-tr td {
    border: 2px solid #333;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.ite {
    text-align: center;
}

/* PC用 */
.hit-tr td {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
}

/* スマホ用 */
@media (max-width: 576px) {
    .hit-tr td {
        width: 14vw;
        height: 14vw;
        font-size: 1.5rem;
    }
}