{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block contents %}
<br>
<h1>的中</h1>
<br>
<div class="parent">
    <form action="{{ url_for('kanteki') }}" method="post" class="form-css" name="mode-form">
        <!-- <label for="mode" class="switch">
            <p>リアルモード</p>
            <div class="switch-button">
                <input type="checkbox" id="mode" name="mode">
                <div class="circle"></div>
                <div class="base"></div>
            </div>
        </label><br> -->
        <div>
            <input type="checkbox" id="mode" name="mode"/>
            <label for="mode">リアルモード</label>
        </div><br>
        <label for="opponent">
        相手校を選択してください
        </label><br>
        <select name="opponent" id="opponent-select" required>
            <button>
                <selectedcontent></selectedcontent>
            </button>

            {% for i in range(opponents|length) %}
            <option value="{{ opponents[i] }}" {% if i == 0 %}selected{% endif %}>
                {{ opponents[i] }}
            </option>
            {% endfor %}
        </select><br><br>

        <label for="hit" class="">
        相手校の的中数を選択してください
        </label><br>
        <select name="hit" id="hit" required>
            <button>
                <selectedcontent></selectedcontent>
            </button>
            {% for i in range(25) %}
            <option value="{{ i }}" {% if i == 24 %}selected{% endif %}>
                {{ i }}
            </option>
            {% endfor %}
        </select><br><br>

        <button type="submit" class="start-button">
            スタート
        </button>
    </form>
</div>
{% endblock %}
{% block script %}
{% endblock %}