{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block contents %}
<div class="kanteki">
    <h2 class="opponent">{{ opponent }}</h2>
    <table id="hit-table" class="hit-table">
        <tbody>
            {% for row in range(4) %}
            <tr class="hit-tr">
                {% for col in range(6) %}
                <td class="cell">
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <table class="ite-table">
        <tr class="ite">
        {% for i in range(6, 0, -1) %}
            <td class="ite-number">{{ i }}</td>
        {% endfor %}
    </table>

</div>

<p class="return"><a href="{{ url_for('index') }}">戻る</a></p>

{% endblock %}
{% block script %}
<script>
    const res = JSON.parse('{{ res | tojson }}');
    const mode = '{{ mode | tojson }}';
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}